body{
    font-family: sans-serif;
}
code{ 
    color:red;
    font-family: monospace;

}

.sec-el{
            color:green;
}
 
  
/* li ~ li{
    background-color: black;
    color:white;
} */

li:nth-child(2) ~ li {
    background-color: black;
    color: whitesmoke;
}


/* ol > li {
    background-color: black;
    color: whitesmoke;
} */
#assignment-instructions{
        color:blue;
        font-family: sans-serif
}
