/* section {
       background: #FF3346;
} */
/* * {
    background: #00000021;
    font-family: sans-serif;
} */

body{
     background: white;
     font-family:'Roboto', sans-serif;
}
#product-overview{
      background: red;
      color: black;
}

.section-title{
    background: green;
     
}
.white-back{
    background:white;
}
.section-title h1 {
    color : white;  
    font-family: 'Akaya Telivigala', cursive;
}

h1{
     font-family:sans-serif;
}