body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.main-section {
    height: 800px;
    border: 1px solid #ccc;
    padding: 16px;
}
.highlighted{
    border:2px solid orange;
}

a.active{
    color: purple;
}
/* p{
    padding:16px;
    border:5px solid red;
} */

a:not(.active){
    color:blue;
}